/*.chat_wrapper {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	background: #CCCCCC;
	border: 1px solid #999999;
	padding: 10px;
	font: 12px 'lucida grande',tahoma,Existence,arial,sans-serif;
}
.chat_wrapper .message_box {
	background: #FFFFFF;
	height: 150px;
	overflow: auto;
	padding: 10px;
	border: 1px solid #999999;
}
.chat_wrapper .panel input{
	padding: 2px 2px 2px 5px;
}*/
.system_msg{color: #3ADF00;}
.user_name{font-weight:bold;}
.user_message{color: #88B6E0;}
#sys-box {
	width:15%;
	position:fixed;
	top:0px;
	left:0%;
	height:100%;
	background:#111;
	display:none;
}
.sysmetbox {
	width:80%;
	height:100%;
	margin:0 auto;
	font-family:Verdana;
}
#chat-listing {
	position:fixed;
	right:0px;
	top:0px;
	width:13%;
	height:100%;
	border-left:1px solid #d8d8d8;
}
.search-listing {
	width:100%;
	height:45px;
	border-bottom:1px solid #d8d8d8;
}
.online-listing {
	width:100%;
	height:80%;
}
.online-listing a {
	display:block;
	width:95%;
	padding-left:5%;
	text-decoration:none;
	color:#2eccfa;
	font-family:Existence;
	width:100%;
	height:45px;
	line-height:45px;
}
.online-listing a:hover {
	background:#dfdfdf;
}