@font-face {
	font-family: Raleway;
	src: url('/library/fnt/Raleway/Raleway-Regular.ttf');
}
@font-face {
    font-family: Existence;
    src: url('/library/fnt/Existence/Existence-Light.otf');
}
@font-face {
    font-family: Arkitech;
    src: url('/library/fnt/Arkitech/Arkitech.ttf');
}